@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-direction: column;

}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
  font-family: 'Figtree', sans-serif;
  background: linear-gradient(40deg, #18181b 0%, #232946 60%, #e66465 120%);

}

.logo {
  display: flex;
  font-weight: 600;
  font-size: 1.6rem;
  font-family: 'Figtree', sans-serif;
  color: #fff;
}

.logo:hover {

  background: linear-gradient(180deg, #e66465, #9198e5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  color: transparent;

}

.logo-backtick {
  display: flex;
  font-weight: 900;
  background: linear-gradient(180deg, #e66465, #9198e5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: all 0.5s ease-in-out;
}

.logo:hover .logo-backtick {

  background: none;
  -webkit-background-clip: initial;
  background-clip: initial;
  -webkit-text-fill-color: #fff;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.greeting {
  display: flex;
  height: 80vh;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 110px;
}

.gradient {
  background: linear-gradient(180deg, #e66465, #9198e5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.greeting-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-size: 5rem;
  color: #ebe5e5;
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  font-style: bold;

}

.greeting-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-size: 2.5rem;
  color: #ebe5e5;
  font-family: 'Figtree', sans-serif;
  font-weight: 300;
}

.navigation {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navigation:scroll-bahavior {

  background: linear-gradient(180deg, #e66465, #9198e5);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-title {

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.3rem;
  margin: 10px;

}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;

}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;

}

.projects {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 10px;

}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;

}

.footer {
  display: flex;
  margin-top: auto;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: static;
  bottom: 0;
  z-index: 100;
}

.footer-item {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.greetings-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.Sunglasses {

  display: flex;
  height: 200px;
  border-radius: 400px;
  border: 3px solid;
  border: linear-gradient(180deg, #e66465, #9198e5);

}

.social-item {

  display: flex;
  margin: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.socials {

  display: flex;
  justify-content: center;
  align-items: center;
}

.section-heading {

  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 2.5rem;
}

.section-sub-heading {
  display: flex;
  width: 40%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;

}

.skills-container {

  display: flex;
  justify-items: center;
  width: 100%;
  padding: 20px 0;
}

.skills-tabs {
  display: flex;
  width: 80%;
  margin: 10px;
  align-items: center;
  justify-content: center;

}

.skills-tabs button {
  display: flex;
  margin: 10px;
  padding: 10px;
  font-family: 'Figtree', sans-serif !important;
  font-style: bold;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background: transparent;
  color: #ebe5e5;
}

.skills-tabs button:hover {

  border: 2px solid #e66465;
  transition: 0.3s ease-in-out;
}

.skills-tabs button.active {
  border-color: #e66465;
  transition: 0.3s ease-in-out;

}

.skill-item {

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  height: 80px;
  width: fit-content;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin: 10px;
}

.skill-sub-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px;
}

.Frontend-skills,
.Backend-skills,
.Other {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 70%;
}

.progress-bar {
  display: flex;
  width: 200px;
  height: 13px !important;
  border-radius: 50px;
  justify-content: flex-start;
  background-color: #4b3030 !important;
}

.css-l16vtb-MuiLinearProgress-bar1 {
  background-color: #e66465 !important;
  width: 100% !important;
}

.skill-icon {

  display: flex;
  color: #e66465;
  font-size: 35px;
  margin-right: 10px;
}

.Progress-value {
  display: flex;
  width: 80px;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 18px;
  color: rgb(190, 186, 186);
}

.progress-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5px;
  align-items: center;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 0 auto;

}

.Project {
  display: flex;
  height: 50%;
  width:70%;
  margin: 0 auto;
  flex-direction: column;
  border-radius: 10px;

}

.project-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 10px;
  font-size: 15px;

}

.project-title {

  font-size: 28px;
  align-items: center;
  justify-content: center;
  width: fit-content;

}

.project-image img {

  width: 100%;
  max-width: 700px;
  height: auto;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.1);

}

.project-image {
  height: auto;
}