.dot-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  pointer-events: none;
  z-index: 0;
}


.dot-grid__wrap {
  width: 100%;
  position: relative;
}

.dot-grid-content {
  position: relative;
  z-index: 1;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dot-grid__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}